/*//////////////////////////////////////////////////////////
ANIMATION --------------------------------------------------
//////////////////////////////////////////////////////////*/
@keyframes moveInUp {
  from {
    transform: translateY(200%);
    opacity: 0;
    scale: .8;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  50% {
    opacity: 1;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes showColor {
  to {
    color: var(--color-brand-secondary-light);
    opacity: 1;
  }
}

@keyframes showIn {
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes move {
  50% {
    transform: translate(10px);
  }
}

@keyframes moveOuija {
  50% {
    transform: translate(-5px) rotate(80deg);
  }
}


/*//////////////////////////////////////////////////////////
BOOK SECTION -----------------------------------------------
//////////////////////////////////////////////////////////*/
/* YELLOW BOOKMARK */
@keyframes bookmarkYellowIn {
  from {
    transform: translate(-100px, -370px) scale(1.2);
  }
  to {
    transform: translate(-20px, -380px) rotate(12deg) scale(1.2);
  }
}

@keyframes bookmarkYellowOut {
  from {
    transform: translate(-20px, -380px) rotate(12deg) scale(1.2);
  }
  to {
    transform: translate(-100px, -370px) rotate(0deg) scale(1.2);
  }
}

/* PURPLE BOOKMARK */
@keyframes bookmarkPurpleIn {
  from {
    transform: translate(-300px, 80px) rotate(0deg) scale(1.2);
  }
  to {
    transform: translate(-120px, 100px) rotate(22deg) scale(1.2);
  }
}

@keyframes bookmarkPurpleOut {
  from {
    transform: translate(-120px, 100px) rotate(22deg) scale(1.2);
  }
  to {
    transform: translate(-300px, 80px) rotate(0deg) scale(1.2);
  }
}

/* PIN */
@keyframes pinIn {
  from {
    transform: translate(-0px, 0px) rotate(0deg) scale(1.2);
  }
  to {
    transform: translate(-140px, 0) rotate(-12deg) scale(1.2);
  }
}

@keyframes pinOut {
  from {
    transform: translate(-140px, 0px) rotate(-12deg) scale(1.2);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg) scale(1.2);
  }
}