.btn {
  background: var(--color-brand-primary-dark);
  font: var(--font-button);
  padding-inline: 1.25rem;
  min-height: 2.75rem;
  max-height: 2.75rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: var(--color-title);

  
  & .btn__fx {
    width: 100%;
    height: 80px;
    background: var(--color-brand-primary-base);
    border-radius: 50%;
    scale: 0;
    position: absolute;
    z-index: 0;
    transition: scale .5s ease;
  }

  &:hover .btn__fx {
    scale: 1.5;
  }

  & .btn__label {
    z-index: 1;
  }

  &.btn-secondary {
    background: var(--color-brand-secondary-dark);
    & .btn__fx {
      background: var(--color-brand-secondary-mid);
    }
  }
}