/*//////////////////////////////////////////////////////////
GLOBAL ----------------------------------------------------
//////////////////////////////////////////////////////////*/
html {
  background: var(--color-shape-background);
  font: var(--font-body-md-regular);
}

img {
  width: 100%;
}