/*//////////////////////////////////////////////////////////
GLOBAL ----------------------------------------------------
//////////////////////////////////////////////////////////*/
html {
  background: var(--color-shape-background);
  font: var(--font-body-md-regular);
  color: var(--color-text-body);
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

body {
  overflow-x: hidden;
}

.app {
  position: relative;
}