/*//////////////////////////////////////////////////////////
HERO -------------------------------------------------------
//////////////////////////////////////////////////////////*/
.hero__container {
  position: relative;
  height: 100vh;
  overflow: hidden;

  & .hero__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    
    & .hero__image {
      object-fit: cover;
      aspect-ratio: 1440/948;
      min-height: 464px;
      max-height: 948px;
      animation: moveInDown 4s ease forwards;
    }

    & .hero__blur {
      width: 538px;
      height: 538px;
      background: var(--color-brand-primary-low);
      border-radius: 50%;
      /* filter: blur(434px); */
      position: absolute;
      left: 10%;
      bottom: 0;
      z-index: -10;
    }
  }

  & .hero__title {
    text-align: center;
    display: grid;
    gap: 32px;
    color: var(--color-text-title);
    max-width: 656px;
    margin: 0 auto;
    padding-inline: 24px;
    padding-top: clamp(72px, 1vh, 278px);
    overflow: hidden;

    & h1 {
      font: var(--font-title-lg);
      font-size: clamp(var(--fs-550), 5vw, var(--fs-800));
      animation: moveInUp 3s 1s ease forwards;
      transform: translateY(200%);
    }
    
    & p {
      font: var(--font-body-lg-regular);
      animation: moveInUp 2s 2.5s ease forwards;
      transform: translateY(200%);
    }
  }
}

/*//////////////////////////////////////////////////////////
RESPONSIVENESS ---------------------------------------------
//////////////////////////////////////////////////////////*/
@media (max-width: 768px) {
  .hero__container {
    & .hero__title {
      gap: 16px;
      & p {
        font: var(--font-body-xs-regular);
      }
    }
  }
}

/*//////////////////////////////////////////////////////////
ANIMATION --------------------------------------------------
//////////////////////////////////////////////////////////*/
@keyframes moveInUp {
  from {
    transform: translateY(200%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes moveInDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}