.navigation__container {
  position: fixed;
  width: 100vw;
  padding-inline: 32px;

  & .navigation {
    width: 100%;
    max-width: 1120px;
    margin: 56px auto 0; 
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    & .navigation__logo {
      background: url('./../img/informative/logo-horizontal.svg') no-repeat;
      width: 230px;
      height: 58px;

      &.mobile {
        background: url('./../img/informative/logo-symbol.svg') no-repeat;
        width: 64.55px;
        height: 48px;
      }
    }

    & .navigation__link {
      text-decoration: none;
      color: var(--color-text-title);
    }
  }
}